@import url(variable.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}
/* header section */
header .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 86px;
  border-bottom: 1px solid rgb(238, 238, 238);
  z-index: 1000;
    background-color: var(--color-white);
}

.logo,
.location {
  padding: 0 25px;
}
.logo svg {
  width: 100%;
  height: 35%;
}
.location .location-title {
  font-size: 18px;
  font-weight: var(--fw-800);
  margin-bottom: 3px;
  letter-spacing: 0.3px;
}
.location .location-desc {
  font-size: 13px;
  font-weight: var(--fw-500);
}
.location-desc .fa-sort-down {
  transform: translateY(-2px);
  padding-left: 5px;
}
.search-bar {
  width: 48%;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 10px;
  background: rgb(248, 248, 248);
  color: rgb(130, 130, 130);
  height: 38px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 12px;
}

.search-bar input{
  border: 0;
  outline: 0;
  background-color: transparent;
  font-size: 10px;
  font-weight: 300;
  width: 100%;
}
.search-input{
    width: 100%;
}
.search-bar .fa-magnifying-glass {
  width: 13px;
  color: rgb(130, 130, 130);
}
.login{
    font-size: 18px;
    color: #363636;
    font-weight: 400;
    width: 162px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.cart button{
    padding: 11px;
    color: var(--color-white);
    background-color: var(--color-green);
    border-radius: 5px;
    font-size: 14px;
    font-weight: var(--fw-700);
    border: none;
    width: auto;
    height: 52px;
}
button{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 20px;
}

/* main section */

.wrapper{
    display: flex;
    align-items: center ;
    flex-direction: column;
}
.wrapper section{
    max-width: 1250px;
    position: relative;
    top: 86px;
}
.banner img{
    width: 102%;
    
   
}
.banner-2{

    display: flex;
    gap: 20px;
    overflow: auto;
    margin: 0 14px;

}
.banner-2::-webkit-scrollbar{
    display: none;
}
.banner-img{
    display: flex;
    flex-wrap: nowrap;
    
}
.banner-2 .banner-img img{
    height: 195px;
    width: 335px;
    margin: 0px 15px 0px 0px;
}
.categories{
    display: grid;
    grid-template-columns: repeat(10, 10%);
    
}
.section-3-img img{
    width: 100%;
    display: inline;
}
    